# {{ ansible_managed }}

server {

    listen 80;
	listen [::]:80;

    server_name {{ virtual_domain_name }};

    return 301 https://$server_name$request_uri;
}

server {

    listen 443 ssl http2;
	listen [::]:443 ssl http2;

    server_name {{ virtual_domain_name }};

{% for ld in letsencrypt_domains %}
{% if virtual_domain_name in letsencrypt_domains[ld] %}
    ssl_certificate /etc/letsencrypt/live/{{ ld }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ ld }}/privkey.pem;
{% endif %}
{% endfor %}

    client_max_body_size 4M;
    client_body_buffer_size 128k;

	root /var/www/{{ virtual_domain_name }};
	index doku.php;

    add_header X-Content-Type-Options nosniff;
    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Robots-Tag none;
    add_header X-Download-Options noopen;
    add_header X-Permitted-Cross-Domain-Policies none;

    location ~ /(conf/|bin/|inc/|install.php) { deny all; }

    location ~ ^/data/ { internal ; }

    location ~ ^/lib.*\.(js|css|gif|png|ico|jpg|jpeg)$ {
        expires 365d;
    }
 
    location / { try_files $uri $uri/ @dokuwiki; }

    location @dokuwiki {
        # rewrites "doku.php/" out of the URLs if you set the userwrite setting to .htaccess in dokuwiki config page
        rewrite ^/_media/(.*) /lib/exe/fetch.php?media=$1 last;
        rewrite ^/_detail/(.*) /lib/exe/detail.php?media=$1 last;
        rewrite ^/_export/([^/]+)/(.*) /doku.php?do=export_$1&id=$2 last;
        rewrite ^/(.*) /doku.php?id=$1&$args last;
    }
 
    location ~ \.php$ {
        try_files $uri $uri/ /doku.php;
		include snippets/fastcgi-php.conf;
		fastcgi_pass unix:{{ php_fpm_run_path}}/php-fpm-dokuwiki.sock;
        fastcgi_param HTTPS on;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param REDIRECT_STATUS 200;
    }

	location ~ /\.ht {
		deny all;
	}
}

